//IMPORT DEI PARZIALI

@import 'normalize'; //gli import senza _ e senza estensione!
@import 'variables'; 
@import 'mixins';
@import 'menu';

//ATTENZIONE all'ordine di importazione: se faccio riferimento a variabili o mixin devo prima
//dichiararle, e se le dichiaro in un parziale allora devo PRIMA importare il parziale


body {
    background: $bgcolor;
    color:$textcolor;

     //@include myGradient(#00CCFF,#FF00DD,90deg); 
   //il mixin si esegue con @include
}

h1 {
    font-family: $headings-font-family;
    font-size: map-get($font-sizes,"bigger");
    font-weight: 900;
}

a.button {
    @include myButton(rgb(6, 95, 158), white, true);
}


//EXTEND

p.bigText {
    @extend h1;
    //@extend prende le proprietà di un selettore e le replica in un altro selettore
}
