.gallery {
    width:600px;
    display: grid;

    grid-template-rows:auto;
    grid-template-columns: 1fr 1fr;


}

.galleryItem {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start:auto;
    grid-column-end:auto;
}

.galleryItem:nth-of-type(3n+1) {
/*border:5px solid red; */
grid-row-start:auto;
grid-row-end:auto;

grid-column-start:1;
/*qua c'è la chiave!*/
grid-column-end: 3;
}

.galleryItem img {

    width: 100%;

}