/* -------------------------------------------------------------------------- */
/*                                 FONT ICONS                                 */
/* -------------------------------------------------------------------------- */

@font-face {
    font-family: 'travel';
    src: url('../font/travel.eot?60235149');
    src: url('../font/travel.eot?60235149#iefix') format('embedded-opentype'),
         url('../font/travel.woff2?60235149') format('woff2'),
         url('../font/travel.woff?60235149') format('woff'),
         url('../font/travel.ttf?60235149') format('truetype'),
         url('../font/travel.svg?60235149#travel') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'travel';
      src: url('../font/travel.svg?60235149#travel') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "travel";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-plane-outline:before { content: '\e800'; } /* '' */
  .icon-location-outline:before { content: '\e801'; } /* '' */
  .icon-beer:before { content: '\e802'; } /* '' */
  .icon-facebook-circled:before { content: '\e803'; } /* '' */
  .icon-link:before { content: '\e804'; } /* '' */
  .icon-mail:before { content: '\e805'; } /* '' */
  .icon-phone-outline:before { content: '\e806'; } /* '' */
  .icon-desktop:before { content: '\e807'; } /* '' */
  .icon-instagram:before { content: '\f31e'; } /* '' */
  




/* -------------------------------------------------------------------------- */
/*                        REGOLE PER TUTTI GLI SCHERMI                        */
/* -------------------------------------------------------------------------- */

body {

    font-family: 'Fira Sans', sans-serif;

}

img {
    display: block;
    width: 100%; /*tutte le immagini si allargano per occupare lo spazio del contenitore*/
    height: auto;
}

#mainHeader {

    display: flex;
    /*distanzio sx - dx in orizzontale */
    justify-content: space-between;
    /*allineo in verticale*/
    align-items: center;
    padding: 0 1rem;
}

.logo img {
    height: 4rem;
    width: auto;
}

/* ---------------------------- ICONA NAVIGAZIONE --------------------------- */

#navIcon {
    width: 2rem;
    height: 2rem;
    position: relative
  
    
}
 
#navIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background:#134373;

    transition:0.5s;
}

#navIcon span:nth-child(2) {
    top:12px;
}

#navIcon span:nth-child(3) {
    top:24px;
}

/* ------------------------ navicon OPEN (diventa X) ------------------------ */

/*ruoto la prima riga dell'icona e la centro */
#navIcon.open span:first-child {
    transform:rotate(135deg);
    top:18px;
}

/*nascondo la seconda riga */
#navIcon.open span:nth-child(2) {
    opacity:0;
    /*aggiungo movimento verso sinistra */
    left:-60px;
}

/*ruoto la terza riga e la centro */
#navIcon.open span:nth-child(3) {
    transform:rotate(-135deg);
    top:18px;
} 


#mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    /*le voci di menu si affiancano in orizzontale */
    display: flex;
    column-gap:1rem;
}

#mainMenu a {
    text-decoration: none; /*tolgo il sottolineato dai link */
}


/* -------------------------------------------------------------------------- */
/*                              STILI MENU MOBILE                             */
/* -------------------------------------------------------------------------- */

/* PER BLOCCARE LO SCROLLING A MENU APERTO: */

.noscroll {
    overflow: hidden;
}

.is-mobile #mainMenu {
    position: fixed;
    top:4rem;
    left:0;
    height:100vh;
    width:100%;
    background:white;
    
}

.is-mobile #mainMenu ul {
    /* display: flex; */
   display: block;
   width: 100%;
   text-align: center;
   padding-top:4rem;
}

.is-mobile #mainMenu ul li {
    padding:1rem 0;
}


/* ---------------------------------- HERO ---------------------------------- */

#hero {
    background-image: url('../img/hero_mobile.jpg');
    height: calc(100vh - 4rem); /*calc per sottrare l'altezza dell HEADER */
    /* background centrato e ridimensionato automaticamente */
    background-repeat: no-repeat;
    background-size: cover;
    /*cover: ridimensiona e ritaglia l'immagine per coprire tutto lo spazio*/
    /*contain: ridimensiona l'immagine per riempire l'elemento ma non la ritaglia */
    background-position: center center;

    /*centro la CTA*/

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center; /*text-align viene ereditata dai figli quindi va anche su .cta */
}


/* ---------------------------------- ICONS --------------------------------- */

#icons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.iconBox {
    width: 100%;
    text-align: center;
}

.iconText {
    font-size: 1.5rem;
}

.iconWrapper {
    font-size: 5rem;
}


/* --------------------------------- footer --------------------------------- */

footer#mainFooter {

    background:	#134373;
    color:#efefef;
    padding:3rem 0;
    margin-top: 3rem;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                STILI DESKTOP                               */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:992px) {

    #hero {
        background-image: url('../img/hero_desktop.jpg');
    }

    #navIcon {
        display: none;
    }



    /* ---------------------------------- ICONS --------------------------------- */

    .iconBox {
        width: 33.333%;
    }



    /* --------------------------------- offerte -------------------------------- */

    .offertaBox {
        display: flex;

    }

    .oImage {
        width: 33.333%;
    }

    .oText {
        width: 66.666%;
    }

}



